<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start"fill="clear" routerLink="/home">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Título relato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<!--
<div *ngIf="rel">
    <ion-card *ngFor = "let comentario of rel.comentarios">
        <ion-card-content>
            {{comentario.content}}
        </ion-card-content>
      </ion-card>
     
</div>
 -->
 <ion-card>
  <ion-label >
    <ion-card-header>
      <ion-card-subtitle class="ion-text-left">{{relato.scale}}</ion-card-subtitle>
      <ion-card-title (click)="goToRelatoPadre()" class="ion-text-center">

          {{relato.parent_phrase.text_parent_phrase}}

      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">{{relato.story_text}}</ion-card-content>

    <ion-card-subtitle color="dark" class="ion-text-center">{{relato.last_phrase}}</ion-card-subtitle>
  </ion-label>
  <ion-icon name="thumbs-up"></ion-icon>
  <ion-icon name="thumbs-down"></ion-icon>
  <br/>
</ion-card>

<ion-slides  [options]="slideOpts">

  <ion-slide *ngFor="let relatoHijo of relatosHijos" (click)="openRelato(relatoHijo)">

      <ion-avatar slot="start">
          <ion-img [src]="relatoHijo.user.image"></ion-img>
      </ion-avatar>
      <ion-label>
      <!--  <h2>{{relatoHijo.FrasePadre.TextoFrasePadre}}</h2>-->
        <p class="ion-text-justify">{{relatoHijo.story_text}}</p>
        <h3 class="ion-text-justify">{{relatoHijo.last_phrase}}</h3>
        <p class="ion-text-justify">{{relato.user.username}} - Tiempo relato</p>
      </ion-label>

    </ion-slide>

</ion-slides>
<br/>
<p (click)="nuevoRelato()" text-center >Continuar relato</p>
<br/>
<!--routerLink="/signup"-->

</ion-content>

