<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start"fill="clear" routerLink="/relato">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Nuevo relato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h3 class="ion-text-center">{{relatoPadre.UltimaFrase}}</h3>
  </ion-label>

  <ion-item>

      <ion-label position="floating">Continúe el relato</ion-label>
    <ion-textarea maxlength="850" [(ngModel)]="textoNuevoRelato"></ion-textarea>
    
  </ion-item>

  <ion-item>
      <ion-label position="floating">Escriba la última frase</ion-label>
      <ion-textarea maxlength="75" [(ngModel)]="ultimaFraseNuevoRelato"></ion-textarea>
    <ion-button color="success" (click)="sendNuevoRelato()">
       <ion-icon name="send" ></ion-icon>
    </ion-button>
   </ion-item>

</ion-content>
