<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()"> 
      <ion-icon style="color:#fff" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Relatos encadenados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen><!--fullscreen/padding-->
    <ion-list>
          <ion-item *ngFor="let relato of relatosCompletos" (click)="openRelato(relato)">
            <ion-avatar slot="start">
                <ion-img [src]="relato.user.image"></ion-img>
            </ion-avatar>
            <ion-label>
                <p>{{relato.user.username}} - Tiempo relato</p>
                <h3>{{relato.parent_phrase.text_parent_phrase}}</h3>
                <p>{{relato.story_text}}</p>
                <h3>{{relato.last_phrase}}</h3>
            </ion-label>
          </ion-item>

      </ion-list>
<!--
      <div>
         <ion-slides  [options]="slideOpts" *ngFor="let relato of relatosCompletos">

          <ion-slide *ngFor="let relato of relatosCompletos" (click)="openRelato(relato)">
              <ion-avatar slot="start">
                  <ion-img [src]="relato.Imagen"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{relato.parent_phrase.text_parent_phrase}}</h2>
                <p>{{relato.story_text}}</p>
                <h3>{{relato.last_phrase}}</h3>
              </ion-label>
            </ion-slide>
        </ion-slides>

      </div>

 -->    

    <!--    <ion-slides  [options]="slideOpts">

            <ion-slide *ngFor="let relato of relatosCompletos" (click)="openRelato(relato)">
                <ion-avatar slot="start">
                    <ion-img [src]="relato.Imagen"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{relato.FrasePadre.TextoFrasePadre}}</h2>
                  <p>{{relato.TextoRelato}}</p>
                  <h3>{{relato.UltimaFrase}}</h3>
                </ion-label>
              </ion-slide>
          </ion-slides>
-->
        

</ion-content>
