<ion-header>
  <ion-toolbar color="medium">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()"> 
      <ion-icon style="color:#fff" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Relatos encadenados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen><!--fullscreen/padding-->
    <ion-list>
          <div *ngFor="let relato of relatosCompletos" >
            <ion-item (click)="openUser(relato.user)" color= "medium" class="userHeader">
              <!--
              <ion-avatar slot="start" >
                <ion-img [src]="relato.user.image"></ion-img>
              </ion-avatar>
              -->
              <ion-label>
                <p><b>{{relato.user.name}} {{relato.user.surname}}</b> - 
                  @{{relato.user.username}} - {{ago(relato.date.toDate())}}</p>
              </ion-label>
            </ion-item>
            <ion-item (click)="openRelato(relato)">
              <ion-label class="ion-text-wrap">
                <h2 class="ion-text-justify">{{relato.parent_phrase.text_parent_phrase}}</h2>
            <!--    <p class="ion-text-justify">{{relato.story_text | slice: 0: 300}}</p>-->
                <p class="ion-text-justify">{{ (relato.story_text.length>200)? (relato.story_text | slice:0:200)+'...':(relato.story_text) }}</p>
                <h2 class="ion-text-justify">{{relato.last_phrase}}</h2>
              </ion-label>
            </ion-item>
                <ion-row>
                    <ion-col>
                      <div class="ion-text-center">
                          <ion-icon name="thumbs-up"></ion-icon>
                          &nbsp;
                          {{relato.positive_likes}}
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="ion-text-center">
                          <ion-icon name="thumbs-down"></ion-icon>
                          &nbsp;
                          {{relato.negative_likes}}
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="ion-text-center"> 
                          <ion-icon name="share" class="ion-text-left"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                <hr/>
          </div>
      </ion-list>
<!--
      <div>
         <ion-slides  [options]="slideOpts" *ngFor="let relato of relatosCompletos">

          <ion-slide *ngFor="let relato of relatosCompletos" (click)="openRelato(relato)">
              <ion-avatar slot="start">
                  <ion-img [src]="relato.Imagen"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{relato.parent_phrase.text_parent_phrase}}</h2>
                <p>{{relato.story_text}}</p>
                <h3>{{relato.last_phrase}}</h3>
              </ion-label>
            </ion-slide>
        </ion-slides>

      </div>

 -->    

    <!--    <ion-slides  [options]="slideOpts">

            <ion-slide *ngFor="let relato of relatosCompletos" (click)="openRelato(relato)">
                <ion-avatar slot="start">
                    <ion-img [src]="relato.Imagen"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{relato.FrasePadre.TextoFrasePadre}}</h2>
                  <p>{{relato.TextoRelato}}</p>
                  <h3>{{relato.UltimaFrase}}</h3>
                </ion-label>
              </ion-slide>
          </ion-slides>
-->
        

</ion-content>
